# Виртуальные окружения
.venv/
venv/

# Переменные окружения, токены и ключи
.env

# Кэш Python
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Логи
*.log

# Конфигурация редакторов (VS Code)
.vscode/

# Системные файлы
.DS_Store
Thumbs.db

# Файлы базы данных 
*.sqlite3
*.db

# Разное
*.bak
*.swp